body{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  max-width: 700px;
  margin: 0 auto;
  background-color: rgb(229, 226, 226);
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
  border: 1px solid grey;
  padding: 15px;
  background-color: khaki;
  position: absolute;
}  


footer{
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16pc;
  padding: 16px 0;
}

header{
  margin-top: 16px;
  margin-bottom: 48px;
}

h1{
  font-size: 64px;
  font-style: italic;
  margin-bottom: 16px;
  color: #888;
}
.message{
  color: black;
  font: bolder;
}

header a{
  color: #888;
  margin-right: 16px;
  text-decoration: none;
  border: 0.5px solid grey;
  padding: 4px;
  border-radius: 4px;
}

.potrait{
  width: 250px;
}

form{
  margin: 10px;
  position: relative;
}

input{
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2px;
  width: 100%;
  margin-right: 8px;
  margin: auto;
}
button{
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #888;
  background-color: #888;
  padding: 8px;
}