<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>weather</title>
  <link rel="icon" href="/images/weather icon.jpg">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">
      {{>header}}
       <p>Use this site to get your weather </p>

       <form action="/">
       <input type="text" placeholder="location">
       <button>Search</button>
       </form>


       <p id="message-1"></p>
       <p id="message-2"></p>
    </div>

    {{>footer}}
  

  
<script src="/js/app.js"></script>
</body>
</html>